<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Details</title>
</head>
<body>

<h1>Player Details</h1>
<a th:href="@{'/'}"><button>Home</button></a>

<p>ID: <span th:text="${player.id}"></span></p>
<p>Name: <span th:text="${player.name}"></span></p>
<p>Second name: <span th:text="${player.secondName}"></span></p>
<p>Rating: <span th:text="${player.rating}"></span></p>

<div>
    <a th:href="@{'/edit-player/' + ${player.id}}">
        <button>Edit player</button>
    </a>
</div>

</body>
</html>